- if current_spree_user.nil?
	-# Show Login if there's no user
	= link_to :login do
		= Spree.t :login
- else
	-# If there's a user, show logout
	= link_to :logout do
		= Spree.t :logout

%span= "|"

= link_to :account do
	%ion-ios-person-outline
	= Spree.t :account
