-# Breadcrumb Section Start
%section.breadcrumb-bg.light-bg.hidden-print
	.space-top-30
	- if content_for :breadcrumb_large_content

		-# Breadcrumb for images, like the index page
		.container= yield :breadcrumb_large_content
	-else

		-# Breadcrumb for text
		-# .theme-container.container
			-# .site-breadcumb.col-md-6.space-80
				-# %h1.section-title.size-48.no-margin.space-bottom-20
					-# - if content_for :breadcrumb_title
						-# = yield :breadcrumb_title
				-# = dt_breadcrumbs @taxon

-# Breadcrumb Section End

-# navbar with shoes, accessories, 50% off, and about
.navigation.font-2.f7f7f7
	%nav
		.navbar-collapse.no-padding#primary-navigation.wide-text
			%ul.nav.navbar-nav.primary-navbar{"data-hook":true}

				-# Menu items for the taxonomies
				- Spree::Taxonomy.includes(:root, :translations).each do |taxon|
					- if taxon.name == "SHOES" || taxon.name == "ACCESSORIES"
						= nav_bar_taxon taxon.root, 5
						%span= "|"

				-# Make sure 50% off is second to last
				- Spree::Taxonomy.includes(:root, :translations).each do |taxon|
					- if taxon.name == "SALE 50% OFF"
						= nav_bar_taxon taxon.root, 5
						%span= "|"

				%li= link_to Spree.t(:about), page_path('about')
			%hr.col-md-12.col-sm-12.breadcrumb-hr

-# Header for printed documents
%section.visible-print-block
	.theme-container.container
		.space-top-30
		%h1.section-title.size-24.no-margin
			- if content_for :breadcrumb_title
				= yield :breadcrumb_title
