-# FOOTER
%footer.footer.text-center.hidden-print
	%section.footer-bg.white-color
		.footer-column.boost-up
			= link_to :root do
				%figure#logo{"data-hook":true}= image_tag "dt.svg"
		.footer-column.align-left
			#main-logo= image_tag "dt_long.svg"
			-# Menu items for the taxonomies
			%ul.footer-items
				- Spree::Taxonomy.includes(:root, :translations).each do |taxon|
					- if taxon.name != "SALE 50% OFF" && taxon.name != "Accessories" && taxon.name != "Shoes" && taxon.name != "DT Club"
						%li= nav_bar_taxon taxon.root, 5
				- Spree::Taxonomy.includes(:root, :translations).each do |taxon|
					- if taxon.name == "DT Club"
						%li= nav_bar_taxon taxon.root, 5
			%ul.list-items.font-2.upper-text
				- social_links.each do |sl|
					%li.social-media-icons.transparent-icons
						= link_to sl[:url], class:"size-24", target:"_blank" do
							- icon_class = "transparent-png-" + sl[:name].downcase
							%div{:class => icon_class}
		.floating-footer
			%p.copy-rights.font-2
				Copyright ©
				= Date.current.year
				= link_to "http://shopdoubletrouble.com/" do
					%b Shop Double Trouble
				,
				= Spree.t :all_rights_reserved
