-# FOOTER
%footer.footer.text-center.hidden-print
	%section.space-70.footer-bg.white-color
		.container.theme-container
			= link_to :root do
				%figure#logo{"data-hook":true}= image_tag "dt.svg"
			%h2.logo-title.font-2
			%ul.list-items.font-2.upper-text
				- social_links.each do |sl|
					%li= link_to sl[:name], sl[:url], class:"hover-color", target:"_blank"
			%br
			%p.font-2.upper-text
				= link_to Spree.t(:terms_of_service), page_path(:terms)
	%section.black-bg.space-15
		%p.copy-rights.font-2
			©
			= Date.current.year
			= Spree.t :developed_by
			= link_to "http://bluetideconsulting.com/" do
				%b BlueTide Consulting
			,
			= Spree.t :all_rights_reserved
