- content_for :head do
	- if products.respond_to?(:num_pages)
		= rel_next_prev_link_tags products

- if !(defined?(summary)) || summary
	-# Header text
	.row.space-bottom-50
		.col-md-6.col-sm-5.col-xs-3.show-result
			%h2.section-title.size-18
				- if products.empty?
					%span{data:{hook:"products_search_results_heading_no_results_found"}}
						= Spree.t :no_products_found
				- elsif params.key?(:keywords)
					%span{data:{hook:"products_search_results_heading_results_found"}}
						= Spree.t(:search_results, keywords: h(params[:keywords]))
				- else
					%span
						= Spree.t :n_products_found, amount:products.count


- if products.any?
	.row.text-center
		-# Slides
		-all_products = products.reverse_order.first(60)
	
		-sale_taxon_number = Spree::Taxon.where(name: "SALE 50% OFF").first.id
		-all_sale_products = products.in_taxons(sale_taxon_number).reverse_order.first(6)
	
	- unless all_products[0..7] == nil
		= render all_products[0..7],
			partial:'spree/products/product',
			layout:'spree/layouts/bootstrap_grid_third',
			cached:true

	- unless all_sale_products[0..2] == nil
		-sale_products = all_sale_products[0..2]
		.thumbnail-wrap.thumbnail-inline.sale-promotion-div
			-sale_products.each do |sp|
				= render partial: 'spree/products/sale',
					locals: { product: sp }

	- unless all_products[8..47] == nil
		.row.text-center
			= render all_products[8..47],
				partial:'spree/products/product',
				layout:'spree/layouts/bootstrap_grid_third',
				cached:true

	- unless all_sale_products[3..5] == nil
		-sale_products_2 = all_sale_products[3..5]
		.thumbnail-wrap.thumbnail-inline.sale-promotion-div
			-sale_products_2.each do |sp|
				= render partial: 'spree/products/sale',
					locals: { product: sp }

	- unless all_products[48..59] == nil				
		.row.text-center
			= render all_products[48..59],
				partial:'spree/products/product',
				layout:'spree/layouts/bootstrap_grid_third',
				cached:true	

.clearfix

-# Pagination using KAMINARI gem
- if products.respond_to?(:total_pages)
	= paginate products, theme:'doubletrouble'
